/*body {*/
/*    background-color: #5977a8;*/
/*}*/

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    display: inline-block;
}

.container {
    text-align: center;
    margin-top: 150px;
}

img {
    display: block;
    margin: auto;
}

body {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

p {
    padding: 10px 25px;
}

.float-left {
    float: left;
}

#delete {
    display: inline;
}

.teal.button {
    margin-bottom: 25px;
}

.main.text.container.segment {
    margin-top: 150px;
}

.showtxt {
    color: black;
    font-size: 16px;
}