<!DOCTYPE html>

<html>
    <head>
        <title>PhotoBox</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui three item menu container">
            <a class="active item"><i class="camera retro icon"></i><strong>PhotoBox</strong></a>
            <a class="item" href="/photos">Home</a>
            <a class="item" href="/photos/new">Add Photo</a>
        </div>