<% include partials/header%>

<h1><%=campground.name %></h1>

<img src="<%=campground.image %>">

<h3><%= campground.description%></h3>

<a href="/campgrounds">Go Back</a>

<% include partials/footer%>